    @page
@model RazorPizzeria.Pages.Forms.CustomPizzaModel
@{
}
<div class="text-center container">
    <h1 class="text-center">Create your Own Pizza!</h1>
    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 bg-light col-4">
        <input type="text" asp-for="Pizza.PizzaName" placeholder="Give Your Pizza a Name..." />
        <br/>
        <input type="checkbox" asp-for="Pizza.TomatoSauce" placeholder="Tomato Sauce" />Tomato Sauce
        <br/>
    
        <input type="checkbox" asp-for="Pizza.Cheese" placeholder="Cheese" />Cheese
        <br/>
    
        <input type="checkbox" asp-for="Pizza.Peperoni" placeholder="Peperoni" />Peperoni
        <br/>
    
        <input type="checkbox" asp-for="Pizza.Ham" placeholder="Ham" />Ham
        <br/>
    
        <input type="checkbox" asp-for="Pizza.Mushroom" placeholder="Mushroom" />Mushroom
        <br/>
    
        <input type="checkbox" asp-for="Pizza.Tuna" placeholder="Tuna" />Tuna
        <br/>
    
        <input type="checkbox" asp-for="Pizza.Beef" placeholder="Beef" />Beef
        <br/>
    
        <input type="checkbox" asp-for="Pizza.Pineapple" placeholder="Pineapple" />Pineapple
        <br/>
        <button class="btn btn-primary mt-1" type="submit">Order My Pizza</button>
    </form>
</div>