@page
@model RazorPizzeria.Pages.OrdersModel
@{
}

<h3>Orders</h3>

<hr />

<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Pizza Name
			</th>
			<th>
				Price
			</th>
		</tr>
	</thead>
	<tbody>

		@foreach(var order in Model.PizzaOrders){
			<tr>
				<td>
					@order.Id
				</td>

				<td>
					@order.PizzaName
				</td>

				<td>
					@order.BasePrice
				</td>
			</tr>
		}


	</tbody>
</table>
